<html lang="ru">

<head>
  <title></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="styles/style.css" rel="stylesheet">
</head>

<body ng-app="cartApp" ng-controller="cartController as cart">

<style>
.catalog-product_list-item-btn {
  display: block;
  float: right;
  padding: 8px 0;
  text-align: center;
  width: 70px;
  background: rgb(122,193,67);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font: 14px "Roboto",sans-serif;
  color: rgb(255,255,255);
  cursor: pointer;
  padding: 6px 0;
width: 70px;
}

.added_to_cart {
  background: rgb(154, 154, 154) !important;
}
.added_to_cart a {
  color: #FFF;
}
</style>


  <table class="table" >
    <caption>В корзине 2 товара на сумму 500 руб.</caption>
    <tbody>
      <tr class="item" ng-repeat="item in cart.items">
        <td class="item__cell">
          <img class="item__img" src="{{item.img}}" alt="" />
        </td>
        <td class="item__cell" >{{item.name}}</td>
        <td class="item__cell">
          <span class="glyphicon glyphicon-plus-sign" ng-click="cart.increment(item)"></span>
          <span>{{item.qty}}</span>
          <span class="glyphicon glyphicon-minus-sign" ng-click="cart.decrement(item)"></span>
        </td>
        <td class="item__cell">
          <span>{{item.price}}</span>
          <span> руб.</span>
        </td>
        <td class="item__cell">
          <div class="glyphicon glyphicon-remove" ng-click="cart.removeItem(item)"></div>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <span>Оформить</span>
  </div>

<div>
    <buy-button item-id="124"/>
</div>
<div>
    <buy-button item-id="123"/>
</div>




  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script src="app/app.js"></script>
</body>

</html>
